{
  "extends": [
    "airbnb",
    "plugin:jsx-control-statements/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "jsx-control-statements/jsx-control-statements": true
  },
  "plugins": [
    "react",
    "import",
    "jsx-control-statements"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "0.15.2"
    },
    "import/resolver": "webpack",
    "import/parser": "babel-eslint"
  },
  "globals": {
    "__GLOBALS__": true,
    "dispatch": true,
    "logger": true
  }
}
