{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% if app.environment != 'dev' %}
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/client.css') }}?v={{ filemtime('dist/client.css') }}">
    {% endif %}
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {% if app.environment == 'dev' %}
        <script src="http://127.0.0.1:3100/static/client.js"></script>
    {% else %}
        <script src="{{ asset('dist/client.js') }}?v={{ filemtime('dist/client.js') }}"></script>
    {% endif %}
{% endblock %}
